<h2>Become a Verified Voter</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label "Name" %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label "Voter Identification Number" %><br />
    <%= f.text_field :voter_id %>
  </div>

  <div class="field">
    <%= f.label "Address" %><br />
    <%= f.text_field :address %><br />
    <%= f.text_field :address2 %>
  </div>

  <div class="field">
    <%= f.label "City" %><br />
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label "State" %><br />
    <%= f.select(:state_code, options_for_select(states_helper), {include_blank: true},
	{id: 'state_code', onchange: 'update_district_options();'}) %>
  </div>

  <div class="field">
    <%= f.label "Zip Code" %><br />
    <%= f.text_field :zip %>
  </div>

  <%= render partial: 'districts/options', locals: {state_code: nil, legislator: false} %>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
