<!DOCTYPE html>
<html>
  <head>
    <title>Citizen Approved</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
<body>
  <header>
    <div id="login">
      <% if voter_signed_in? %>
      <%= link_to 'Logout', destroy_voter_session_path, method: :delete %>
      <% else %>
      <%= link_to 'Login', new_voter_session_path %>
      <%= link_to 'Sign Up', new_voter_registration_path %>
      <% end %>
    </div>
    <%= link_to image_tag("citizen.black.png", alt: "Citizen Approved", size: "400x100"), root_path %>
  </header>
  <nav id="banner">
    <%= link_to  "govtrack.us", "www.govtrack.us" %>
    <%= link_to  "Library of Congress", "loc.gov" %>
  </nav>
  <div class="content">
  <%= yield %>
  </div>
  <footer>
    <p class="footer">Citizen Approved: Americans taking back their country.</p>
  </footer>
</body>
</html>
